.card {
  border: 1px solid #ebf0f6;
  padding: 24px 24px 16px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 106 194 / 20%)
}
.card:hover {
  -webkit-box-shadow: 0 3px 8px 0 rgb(0 106 194 / 20%);
  box-shadow: 0 3px 8px 0 rgb(0 106 194 / 20%);
}

